/* AXIS ANIMATION */
#y-axis {
  stroke-dasharray: 475;
  stroke-dashoffset: 475;
  animation: animate-y-axis 0.5s ease forwards;
}
@keyframes animate-y-axis {
  0% {
    stroke-dashoffset: 475;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
#x-axis {
  stroke-dasharray: 464.5;
  stroke-dashoffset: 464.5;
  animation: animate-x-axis 0.5s ease forwards;
}
@keyframes animate-x-axis {
  0% {
    stroke-dashoffset: 464.5;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
#t_h {
  opacity: 0;
  animation: axisXText 0.5s ease forwards;
}
@keyframes axisXText {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
#C_mgL {
  opacity: 0;
  animation: axisYText 0.5s ease forwards;
}
@keyframes axisYText {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
#x-marks path,
#x-numbers path {
  opacity: 0;
  animation: dropXMarks 0.5s ease forwards;
  animation-delay: calc(var(--order) * 0.1s);
}
@keyframes dropXMarks {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
#y-marks path,
#y-numbers path {
  opacity: 0;
  animation: dropYMarks 0.5s ease forwards;
  animation-delay: calc(var(--order) * 0.1s);
}
@keyframes dropYMarks {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
/* DOTS ANIMATION */
#dots circle {
  opacity: 0;
  animation: dropDots 1.5s ease forwards;
  animation-delay: calc(var(--order) * 0.05s);
  transform-origin: center center;
  transform-box: fill-box;
}
@keyframes dropDots {
  33% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* PLOT AND AUC ANIMATION */
#plot {
  stroke-dasharray: 912;
  stroke-dashoffset: 912;
  animation: animate-plot 2.5s linear forwards;
}
@keyframes animate-plot {
  65% {
    stroke-dashoffset: 912;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
#auc {
  opacity: 0;
  animation: fadeAUC 3s ease forwards;
}
@keyframes fadeAUC {
  83% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#lines path,
#lines line {
  opacity: 0;
  animation: linesAnim 3.5s ease forwards;
  animation-delay: calc(var(--order) * 0.1s);
}
@keyframes linesAnim {
  86% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#plot-marks path {
  opacity: 0;
  animation: marksAnim 4s ease forwards;
  animation-delay: calc(var(--order) * 0.1s);
}
@keyframes marksAnim {
  88% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
